<div class="card shadow p-4" style="width: 350px; background-color: #fdf8f1; border-radius: 10px;">
  <h2 class="text-center mb-4" style="font-family: 'Georgia', serif;">Habit Tracker Register</h2>
    <%= form_with url: register_path, method: :post, class: "w-100" do %>

      <div class="mb-3">
        <%= label_tag :email, "Email Address", class: "form-label" %>
        <%= text_field_tag :email, nil, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= label_tag :full_name, "Name:", class: "form-label" %>
        <%= text_field_tag :full_name, nil, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= label_tag :username, "Username", class: "form-label" %>
        <%= text_field_tag :username, nil, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= label_tag :password1, "Password", class: "form-label" %>
        <%= text_field_tag :password1, nil, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= label_tag :password2, "Password Again", class: "form-label" %>
        <%= text_field_tag :password2, nil, class: "form-control" %>
      </div>

      <div class="d-grid gap-2">
        <%= submit_tag "Log in", class: "btn btn-secondary" %>
      </div>

    <% end %>
</div>