<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Habit Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>

  

  <body class="d-flex flex-column min-vh-100">


    <header class="bg-light py-2 shcadow">
      <div class="container d-flex justify-content-between align-items-center">
      <div>
        <%= link_to "Habit tracker", root_path, class: "navbar-brand text-dark fw-bold" %>
        <%= link_to "New Habit", new_habit_path, class: "btn btn-secondary" %>
      </div>
      <nav>
        <ul class="nav">
          <% if session[:username] %>
            <li class="nav-item"><%= link_to "Profile", profile_path, class: "nav-link" %></li>
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-link text-dark" %>
          <% else %>
            <li class="nav-item"><%= link_to "Login", login_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Registration", register_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </nav>
      </div> 
    </header>

    <main class="flex-grow-1 d-flex justify-content-center align-items-center py-5">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key == "alert" ? "danger" : "info" %> alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
    </main>

    <footer class="bg-dark align-center text-white text-center py-3 mt-auto">
      <div class="container">
        <p class="text-center">&copy; <%= Time.now.year %> Habit Tracker</p>
      </div>
    </footer>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
    // Attach event listeners to "track-habit-btn" buttons
    document.querySelectorAll(".track-habit-btn").forEach((button) => {
      button.addEventListener("click", () => {
        const habitId = button.getAttribute("data-habit-id");
        const date = button.getAttribute("data-date");

        fetch("/track_habit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
          },
          body: JSON.stringify({ habit_id: habitId, date: date }),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Failed to track habit");
            }
          })
          .then((data) => {
            console.log("Habit tracked successfully:", data);
            location.reload();
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    });
  });
       
  </script>

  </body>
</html>
